body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(194, 191, 191);
}
.container {
    max-width: 1024px;
    margin: 0 auto;
}
.name {
}
.name__text h1 {
    font-size: 32px;
    font-weight: bold;
}
.contacts {
    margin-top: 20px;
}
.contacts__header h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}
.contacts__list {
}
.about {
}
.about__header h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}
.about__text {
}
.skills {
}
.skills__header h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}
.skills__list {
    padding-left: 40px;
}
.code {
}
.code__header h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}
.code__text {
}
.code__example {
}
.education {
}
.education__header h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}
.education__list {
}
.languages {
}
.languages__header h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
}
.languages__list {
}
li {
    list-style-type: none;
}
.year {
    font-weight: bold;
}
.footer {
    text-align: center;
}
.img {
    width: 200px;
    margin: 0 auto;
}
.gh a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}